.git
.venv
.uv-cache
.npm-cache
**/__pycache__
.pytest_cache
.ruff_cache
.env
.env.*
**/.env
**/.env.*
!.env.example
.mypy_cache
.coverage
var
data-science/**
!data-science/pyproject.toml
frontend/node_modules
frontend/dist
*.7z
*.zip
*.parquet
*.db
